nav{
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 90;
}

.NavBarItem{
  padding: 20px;
}

.NavBarItem.left span{
  padding:5px;
}

.NavBarItem.middle{
  /* margin-left: 10%; */
}