.Dashboard__header {
  padding: 10px;
  background-color: #d3d3d3;
}

.Dashboard__button {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.Dashboard__button button {
  align-self: center;
  font-size: 1.5vw;
}

.Dashboard__new-course-arr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Dashboard__courses {
  background-color: #696969;
  min-height: 100vh;
}


@media (max-width: 768px) {
  .Dashboard__button button{
    font-size: 2.4vw;
  }

  .Logo{
    width:9vw !important;
    height:6.5vw !important;
  }
}


