.SubjectSummary {
  position: absolute;
  background-color: white;
  font-size: 30px;
  width: 15.5vw;
  height: 12vw;
  margin: 3vw;
  padding: 1vw 1vw;
  word-break: break-all;
  text-align: center;
  border-radius: 5%;
  overflow: auto;
}

.SubjectSummary__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SubjectSummary__items__title{
  font-size: 2vw;
}

.SubjectSummary__items button{
  padding: 0.3vw 0.5vw;
  font-size: 10px;
}

.rollIn {
  animation: rollIn 1.5s alternate ease-in;
  animation-fill-mode: forwards;
}

.rollOut {
  animation: rollOut 1.5s alternate ease-out;
  animation-fill-mode: forwards;
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

@keyframes rollOut {
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(0.1);
  }
}
