.animated {
  background-repeat: no-repeat;
  position: absolute;
  background-position: left top;
  /* padding-top: 95px; */
  background-color: white;
  margin-bottom: 60px;
  font-size: 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  word-break: break-all;
}

.animated button{

}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}

.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}

@-webkit-keyframes rollOut {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
  }
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollOut {
  100% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
