@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: snow;
  font-family: 'Exo', sans-serif;
}

a,
span {
  cursor: pointer;
  text-decoration: none;
  color: unset;
  padding: 5px;
}
